---
import * as CONTENT from "../pages/content"
import AccordionLayout from "../layouts/AccordionLayout.astro";
import Card from "./Card.astro";

---

<ul class="shadow-box">
  <AccordionLayout title={"About"} icon={"mdi:account-badge-outline"}>
    <section>
      <p class="text-justify mb-5">
        Estudiante de Ingeniería en Sistemas Computacionales en (ESCOM IPN). Lo que más me gusta de mi carrera es que me enseña como funciona el mundo y sus complejos sistemas, impulsado por mi curiosidad.
      </p>
      
      <p class="text-justify mb-5">
        Aprendí a tocar la guitarra eléctrica, perfeccionando mi técnica a un nivel shred. Aplicando práctica, constancia y diciplina. Habilidades que llevo a cabo en todos los aspectos de mi vida.
      </p>
      
      <p class="text-justify mb-5">
        Me entusiasma el aprendizaje continuo, adopto un enfoque pragmático y proactivo para resolver problemas. Creo en la importancia de comprender los fundamentos y conceptos para construir soluciones eficientes y escalables.
      </p>      
    </section>
  </AccordionLayout>

<!--
    <AccordionLayout title={"Work"} icon={"ic:baseline-work-outline"}>
      {
        CONTENT.work.map((item) => {
          return (
            <Card
              title={item.role}
              timeframe={`${item.from} - ${item.to}`}
              description={item.location}
              tags={item.skills}
              url={item.org_url}
              url_name={item.org}
            />
          );
        })
      }
    </AccordionLayout>
-->
    <AccordionLayout title={"Education"} icon={"carbon:education"}>
      {
        CONTENT.education.map((item) => {
          return (
            <Card
              title={item.course}
              timeframe={`${item.from} - ${item.to}`}
              description={item.location}
              tags={""}
              url={"https://www.escom.ipn.mx/"}
              url_name={item.institute}
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Projects"} icon={"ion:md-build"}>
      {
        CONTENT.projects.map((item) => {
          return (
            <Card
              title={item.title}
              timeframe={item.frame}
              description={item.description}
              url={item.url}
              url_name={"Open Project"}
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Certifications"} icon={"carbon:certificate"}>
      {
        CONTENT.certificates.map((item) => {
          return (
            <Card
              title={item.title}
              timeframe={item.issued}
              description={item.org}
              url={item.url}
              url_name={"View Certificate"}
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Contact"} icon={"ri:contacts-book-fill"}>
      {
        CONTENT.contact.map((item) => {
          return (
            <Card
              timeframe={item.frame}
              title=""
              description={item.title}
              tags=""
              url={item.source}
              url_name={item.source_name}
            />
          );
        })
      }
    </AccordionLayout>
</ul>
